footer {
    /*background: linear-gradient(#51ee09, #e2d10e);*/
    color: black;
    padding: 40px;
    border: 5px ridge #15960e;
    background-image: url(../IMG/background/bgfooter.jpg);
    background-size: 20% 100%;
}

footer a {
    color: #000000 !important;
}
