
.logoNav{
    width:auto;
    height:70px;
    border:1px solid #0de638;



}

.navbar{
    background-color: #000000;
}
.navbar-brand{
    color:#44d62c;
}

.navbar-nav a{
    text-decoration: none;
    text-transform: uppercase;
    color:#44d62c;
}

.navbar-collapse{
    justify-content:center;
}
.buttonsearch{
    background-color: black;

}
.fa-search{
    color:#44d62c;

}