.card{
    border: 1px ridge #44d62c;
}

.CardProducts{
    height: auto;
}

.buttonAddCart{
    color:green;
    width: 100%;
    border: 10px ridge green;
}
.buttonAddCart:hover{
    color:rgb(255, 255, 255);
    width: 100%;
    border: 10px ridge green;
}
.logocart{
    width:50px;
    height:auto;
}
.heart{
    color:green;
    width: 100%;
    border: 10px ridge green;
}

