body{
    background-color: black;
    background-image: url(../IMG/background/bgBody.jpg);
    background-size: 100% 100%;


}

.jumbotron-title{
    padding-top:20px;
    color:#44d62c;
}
.card-header{
    background-color:#222222;
}
.card-body{
    background-color:#222222;
    color:gray;
}

.list-group-item{
    background-color:#222222;
    color:gray;
}

.card-img-top{
    background-color:black;
}































/*_______________________________________________________________________________________________*/
/* canvas {
    position: absolute;
    background-repeat: no-repeat;
    height:100%;
    width: 100%;
}*/