{% extends 'base.html.twig' %}

{% block title %} Contact {% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading colorGreen">Contact</h1>
            <p class="lead text-muted mb-0">N'hésitez pas à nous contacter , nous vous répondrons dans les meilleurs délais </p>
        </div>
    </section>

    <div class="container">
        <div class="row">
            <div class="col">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a class="linkGreen" href="{{ path('home') }}">Accueil</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Contact</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col mb-4">
                <div class="card">
                    <div class="card-header titreCardHeader bgcolorGreen "><i class="fa fa-envelope"></i> Contactez-nous.
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="name">Nom</label>
                                <input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Votre nom" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Votre email" required>
                                <small id="emailHelp" class="form-text text-muted">Nous ne partagerons pas votre email.</small>
                            </div>
                            <div class="form-group">
                                <label for="message">Message</label>
                                <textarea class="form-control" id="message" rows="6" required></textarea>
                            </div>
                            <div class="mx-auto mt-3">
                                <button type="submit" class="btn  btnPrice text-right ">Envoyer</button></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-4 mb-4">
                <div class="card bg-light mb-3">
                    <div class="card-header titreCardHeader bgcolorGreen  text-uppercase"><i class="fa fa-home"></i> Adresse</div>
                    <div class="card-body">
                        <p>3 rue des Champs Elysées</p>
                        <p>75008 PARIS</p>
                        <p>France</p>
                        <p>Email : email@example.com</p>
                        <p>Tel. +33 12 56 11 51 84</p>

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
